<% include ./partials/header.ejs %>
    <div class="ui container else">
        <div class="ui main text container segment">
            <div class="ui huge header">About this app</div>
            
            <p>
                This app was created for my software engineering class,
                and acts as a showcase for what I've learned about web
                development from The Web Developer Bootcamp course on <a href="https://www.udemy.com/the-web-developer-bootcamp/">Udemy.</a>
            </p>

            <p>
                The frontend was created using <a href="https://semantic-ui.com" target="_blank">Semantic UI</a> and <a href="https://jquery.com/" target="_blank">jQuery,</a>
                and the backend was created using <a href="https://nodejs.org/en/" target="_blank">NodeJS</a> with <a href="https://expressjs.com/" target="_blank">Express.</a>
                Recipe data is provided by <a href="https://www.edamam.com/" target="_blank">Edamam's</a> Recipe API. Source code for this project can be found
                on my <a href="https://github.com/MSPigl/RecipeApp" target="_blank">Github.</a>
            </p>

            <div class="ui huge header">About me</div>

            <p>
                My name is Matthew Pigliavento. I'm just about finished with my B.S. in computer science at Siena College. My programming
                background is mostly in Java, however I've also done a lot of work in Python, C and JavaScript.
            </p>

            <div class="ui center aligned container">
                <a class="ui linkedin button" href="https://linkedin.com/in/matthewpigliavento/" target="_blank">
                    <i class="linkedin icon"></i>
                    LinkedIn
                </a>

                <a class="ui button" href="https://www.github.com/MSPigl/" target="_blank">
                    <i class="github icon"></i>
                    Github
                </a>
            </div>
        </div>
    </div>
<% include ./partials/footer.ejs %>