<!DOCTYPE html>
<html>
    <head>
        <title>RecipeApp</title>

        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    </head>

    <body>        
        <div id="landing-header">
            <div id="landing-text">
                <h1>Welcome to RecipeApp!</h1>
            </div>

            <a href="/search" class="large ui button">View Recipes</a>
        </div>
        
        <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>

    </body>
</html>