<% include ./partials/header %>
    <div class="ui container else">
        <% if (error) { %>
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    Looks like there are no matching recipes for that search
                </div>
                <p>Try a different set of search options</p>
            </div>
        <% } %>

        <div class="ui centered grid">
            <div class="row">
                <div class="eight wide column">
                        <form id="searchForm" class="ui form" action="/show" method="POST">
                            <div class="field">
                                <label for="ingredientInput">Ingredients</label>
                                <input id="ingredientInput" type="text" name="fields[ingredientInput]" placeholder="chicken, salt, sugar, etc..." required>
                            </div>
                            
                            <div id="addIngredient" class="positive ui fluid button">Add Ingredient</div>
                            
                            <div class="field">
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="fields[diet]">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Diet</div>
                                    <div class="menu">
                                        <div class="item" data-value="none">None</div>
                                        <div class="item" data-value="balanced">Balanced</div>
                                        <div class="item" data-value="high-protein">High-Protein</div>
                                        <div class="item" data-value="high-fiber">High-Fiber</div>
                                        <div class="item" data-value="low-fat">Low-Fat</div>
                                        <div class="item" data-value="low-carb">Low-Carb</div>
                                        <div class="item" data-value="low-sodium">Low-Sodium</div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <select multiple="" name="fields[health]" class="ui dropdown">
                                    <option value="">Select health labels</option>
                                    <option value="alcohol-free">Alcohol-free</option>
                                    <option value="celery-free">Celery-free</option>
                                    <option value="crustacean-free">Crustacean-free</option>
                                    <option value="dairy-free">Dairy-free</option>
                                    <option value="egg-free">Egg-free</option>
                                    <option value="fish-free">Fish-free</option>
                                    <option value="gluten-free">Gluten-free</option>
                                    <option value="kidney-friendly">Kidney friendly</option>
                                    <option value="kosher">Kosher</option>
                                    <option value="low-potassium">Low potassium</option>
                                    <option value="lupine-free">Lupine-free</option>
                                    <option value="mustard-free">Mustard-free</option>
                                    <option value="No-oil-added">No oil added</option>
                                    <option value="low-sugar">Sugar-free</option>
                                    <option value="sugar-conscious">Sugar-conscious</option>
                                    <option value="paleo">Paleo</option>
                                    <option value="peanut-free">Peanut-free</option>
                                    <option value="pescatarian">Pescatarian</option>
                                    <option value="pork-free">Pork-free</option>
                                    <option value="red-meat-free">Red-meat-free</option>
                                    <option value="sesame-free">Sesame-free</option>
                                    <option value="shellfish-free">Shellfish-free</option>
                                    <option value="soy-free">Soy-free</option>
                                    <option value="tree-nut-free">Tree nut-free</option>
                                    <option value="vegan">Vegan</option>
                                    <option value="vegetarian">Vegetarian</option>
                                    <option value="wheat-free">Wheat-free</option>
                                </select>
                            </div>

                            <div class="equal width fields">
                                <div class="field">
                                    <label for="minCal">Min kcals:</label>
                                    <input id="minCal" type="number" name="fields[minCal]">
                                </div>
                                
                                <div class="field">
                                    <label for="maxCal">Max kcals:</label>
                                    <input id="maxCal" type="number" name="fields[maxCal]">
                                </div>
                            </div>

                            <div class="equal width fields">
                                    <div class="field">
                                        <label for="minTime">Min time:</label>
                                        <input id="minTime" type="number" name="fields[minTime]">
                                    </div>
                                    
                                    <div class="field">
                                        <label for="maxTime">Max time:</label>
                                        <input id="maxTime" type="number" name="fields[maxTime]">
                                    </div>
                                </div>
                    
                            <input id="submitButton" type="submit" class="ui blue fluid button">
                        </form>
                </div>

                <div class="eight wide column">
                    <h2>Ingredients list</h2>
                    <div id="ingredientListContainer"><ul id="ingredientList"></ul></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // enable message closing
        if ($('.message .close').length)
        {
            $('.message .close')
                .on('click', function() {
                    $(this)
                    .closest('.message')
                    .transition('fade');
            });
        }

        // enable dropdown
        $(".ui.dropdown").dropdown();

        let ingredientButton = $("#addIngredient");
        ingredientButton.click(addIngredient);

        let submitButton = $("#submitButton");
        submitButton.click((event) => {
            $("#ingredientInput").val(buildQueryString());
        });

        /**
         * Add ingredient to list
         */
        function addIngredient()
        {
            let ingredientInput = $("#ingredientInput");
            
            if (ingredientInput.val())
            {
                let ingredientList = $("#ingredientList");
                let newIngredient = $(document.createElement("li"));
                
                newIngredient.text(ingredientInput.val());
                newIngredient.addClass("ingredient");

                ingredientInput.val("");
                ingredientList.append(newIngredient);
            }
        }

        /**
         * Set ingredient input value equal to the list of ingredients
         */
        function buildQueryString(string)
        {
            let ingredients = [];
            let nodeList = $(".ingredient");

            for (let i = 0; i < nodeList.length; i++)
            {
                ingredients.push(nodeList[i].innerText);
            }

            return ingredients.toString();
        }
    </script>
<% include ./partials/footer %>
