<% include ./partials/header %>
    <div id="showHeader" class="ui main text container segment">
        <div class="ui huge header">Recipes</div>
    </div>

    <div class="ui container">
        <div class="ui centered grid">
            <div class="row">
                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="https://content.thriveglobal.com/wp-content/uploads/2018/11/vikumatseeepill.jpg">
                        </div>

                        <div class="content">
                            <div class="header">
                                Recipe Title
                            </div>

                            <div class="meta">
                                Some meta information
                            </div>

                            <div class="description">
                                A description for this card
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="https://content.thriveglobal.com/wp-content/uploads/2018/11/vikumatseeepill.jpg">
                        </div>

                        <div class="content">
                            <div class="header">
                                Recipe Title
                            </div>

                            <div class="meta">
                                Some meta information
                            </div>

                            <div class="description">
                                A description for this card
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="https://content.thriveglobal.com/wp-content/uploads/2018/11/vikumatseeepill.jpg">
                        </div>

                        <div class="content">
                            <div class="header">
                                Recipe Title
                            </div>

                            <div class="meta">
                                Some meta information
                            </div>

                            <div class="description">
                                A description for this card
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="https://content.thriveglobal.com/wp-content/uploads/2018/11/vikumatseeepill.jpg">
                        </div>

                        <div class="content">
                            <div class="header">
                                Recipe Title
                            </div>

                            <div class="meta">
                                Some meta information
                            </div>

                            <div class="description">
                                A description for this card
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer %>