<% include ./partials/header.ejs %>
    <div class="ui container else">
        <div class="ui main text container segment">
            <div class="ui huge header"><%= recipe.label %></div>
        </div>
    </div>
<% include ./partials/footer.ejs %>