#showHeader {
    margin-top: 45px;
}

#ingredientListContainer {
    height: 150px;
}

#ingredientList {
    height: 100%;
    overflow: scroll;
}

#addIngredient {
    margin-bottom: 20px;
}

#recipeTitle {
    text-transform: uppercase;
}

#recipeImage {
    transition: linear;
}

.ui.huge.header {
    text-align: center;
}

.else {
    margin-top: 50px;
}